.ps-slider {
	position:relative;
	display:block;
	overflow:visible;	
}

.ps-slider img {
	position:absolute;
	display:block;
	top:0;
	left:0;
	opacity:0;
	outline:0;
	border:0;
}

@media \0screen {
	.ps-slider img { width:auto; }  /* IE 8 */
}

.ps-slider img.ps-active {
	opacity:1 !important;
	filter:alpha(opacity=100) !important;
	-ms-filter:"alpha(opacity=100) !important";
}

.ps-responsive img {
	max-width:100% !important;
	height:auto;
}

.ps-dots.ps-active {
	background:#df8;
}

.ps-dots.ps-frozen {
	background:#b00;
}

.ps-dots, .ps-arrows {
	vertical-align:middle;
	outline:0;
}
.ps-dots {
	background:#888;
	height:1em;
	width:1em;
	border:1px solid #bbb;
	margin:0px 5px;
}

.ps-arrows {
	height:1em;
	display:inline-block;
	vertical-align:top;
	margin:0px 8px;
	cursor:pointer;
}

.ps-dots:hover {
	border:1px solid #555;
}

.ps-dots, .ps-arrows.ps-prev, .ps-arrows.ps-next  {
	display:inline-block;
	/* circular dots */
    border-radius:50%;
}

.ps-arrows .ps-prev:hover, .ps-arrows .ps-next:hover {
	background:white;
	color:red;
}

.ps-arrows .ps-prev {
	top:50%;
	left:-10px;
}
.ps-arrows .ps-next {
	top:50%;
	right:-10px;
}
